html{
    margin: 0 auto;
}

img{
    width: 50px;
}
h1{
    text-align: center;
}

div{
    border: 1px solid;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.contenedor {
    border: 1px solid;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
li{
    margin: 15px;
    list-style: none;
}

button{
    background: red;
    margin: 15px;
    color: white;
}

.discount{
    color: red;
}

.inputNum{
    width: 5%;
}