
h1{
    text-align: center;
}

div{  
    
    border: 1px solid;
    width: 500px;
    margin: 0 auto;
    text-align: center;         
}

.contenedor {    
    width: 400px;
    margin: 0 auto;
    text-align: center;    
}

li{
    margin: 15px;
    list-style: none;
}

button{
    background: navy;
    margin: 15px;
    color: white;
}

.discount{
    color: red;
}

.inputNum{
    width: 5%;
}

nav{
    background-color: lightblue;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu .lista{
    display: inline-block;
}

.lista a{
    text-decoration: none;
    color: indigo;
    padding: 15px 50px;    
}

.lista a:hover{
    background-color: lightgray;
}

footer{
    background-color: lightgray;
    text-align: center;
    font-weight: bold;
    color: indigo;
    width: 100%;
    height: 100px;
    margin-top: 200px;
    position: absolute;  
}

.catalog{
    
    padding: 15px 50px;    
    margin-top: 8%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.catalog th:hover {
    background-color: #ddd;
  }