*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: indigo;
    margin: 10px;
}

div{      
    border: 1px solid;
    width: 500px;
    margin: 0 auto;
    text-align: center;      
    border-radius: 20px;   
}

.contenedor {    
    width: 400px;
    margin: auto;
    text-align: center;  
    border-radius: 5px;  
}

li{
    margin: 15px;
    list-style: none;
}

button{
    background: navy;
    margin: 15px;
    color: white;
    border-radius: 5px;
}
button:hover{
    background-color: gray;
}

.discount{
    color: red;
}

input {
    border-radius: 5px;
}

.inputNum{
    width: 5%;
    
}

nav{
    background-color: lightblue;
    width: 100%;
    font-weight: bold;    
    height: 50px;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 5px;
    
}

.menu .lista{
    
    float: right;
}

.lista a{
    text-decoration: none;
    color: indigo;
    padding: 15px 50px;    
}

.lista a:hover{
    background-color: lightgray;
}

footer{
    background-color: lightgray;
    text-align: center;
    font-weight: bold;
    color: indigo;
    width: 100%;
    height: 100px;
    margin-top: 200px;
    position: absolute;  
}

.catalog{    
    padding: 15px 50px;       
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.catalog th:hover {
    background-color: #ddd;
  }

.logo{
    width: 70px;
    text-align: center; 
}

a {
    text-decoration: none;
    color: white;
}